:root{
--font-sans-serif: 'Vollkorn', serif;
--black: black;
--orange: #f48159;
--grey: #808080;
--green: #6b945b;
--white: white; 
}
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {
    font-family: var(--font-sans-serif);
    color: black;
    line-height: 1.667;
  }

  a {
      color: 
  }