<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components | Camp Wandawega</title>
    <link href='https://fonts.googleapis.com/css?family=Cutive Mono' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Bebas Neue' rel='stylesheet'>
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/main.css" />
</head>

<body>
    <h1>Web Components Go Here</h1>

    <h2>Typography Defaults</h2>

    <article class="component">
        <h3 class="component__name">body</h3>
        <div class="component__img">
            <img srcset="img/case-studies__paragraph.png 2x" src="img/case-studies__paragraph.png" alt="body copy" />
        </div>
        <div class="component__code">
            <p>Not camp like you remember. More like "the camp counselors have gone missing and you found the keys to
                the liquor cabinet." These tend to be private, invitation-only events, but we like to share photos
                nonetheless.</p>
        </div>
    </article>
    <article class="component">
        <h3 class="component__name">headings (h1, h2, ...)</h3>
        <div class="component__img">
            <img srcset="img/case-studies__header.png 2x" src="img/case-studies__header.png" alt="h1" />
            <img srcset="img/case-studies__sub-header.png 2x" src="img/case-studies__sub-header.png" alt="h2" />
        </div>
        </div>
        <div class="component__code">
            <h2>Our Camps</h2>
            <h3>Where social distancing is a way of life</h3>
        </div>
    </article>

</body>

</html>