<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components | Camp Wandawega</title>
    <link href='https://fonts.googleapis.com/css?family=Cutive Mono' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Bebas Neue' rel='stylesheet'>
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/main.css" />
</head>

<body>
    <h1>Web Components Go Here</h1>

    <h2>Typography Defaults</h2>

    <article class="component">
        <h3 class="component__name">body</h3>
        <img srcset="img/case-studies__paragraph.png 2x" src="img/case-studies__paragraph.png" alt="body copy" />

        <div class="component__code">
            <p>A number of brands have used Wandawega as a backdrop for marketing efforts. Some even put our name on the
                covers of their catalogues or on their wool blankets; others just pay us a visit to shoot & write about
                it. In any case, we always enjoy the company.</p>
        </div>
    </article>
</body>

</html>