<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components | Camp Wandawega</title>
    <link href='https://fonts.googleapis.com/css?family=Cutive Mono' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Bebas Neue' rel='stylesheet'>
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/main.css" />
</head>

<body>
    <main class="container component-page__main">

        <h1>Web Design System</h1>
        <p>Components based on the website of <a target="_blank" href="https://wandawega.com">Camp Wandawega</a>.</p>

        <section class="page-header" id="header">
            <h2>Page Header</h2>
            <img src="img/page-header__main-nav.png" alt="Main Nav" />
            <header class="site-header">
                <article class="component">
                    <h3 class="component__name">Stripe</h3>
                    <div class="component__code">
                        <span class="page-header-stripe"></span>
                    </div>
                </article>
                <article class="component">
                    <h3 class="component__name">Logo</h3>
                    <div class="component__img">
                        <img class="header-logo" srcset="img/page-header__wordmark.png 2x"
                            src="img/page-header__wordmark.png" title="Camp Wandawega">
                    </div>
                </article>
                <article class="component">
                    <h3 class="component__name">Main Navigation</h3>
                    <div class="component__code">
                        <nav class="main-nav">
                            <ul class="menu">
                                <li><a href="#!">Collabs</a></li>
                                <li><a href="#!">Programs</a></li>
                                <li><a href="#!">Visit</a></li>
                                <li><a href="#!">Retreats</a></li>
                                <li><a href="#!">Tour</a></li>
                                <li><a href="#!">Our Story</a></li>
                                <li><a href="#!">Press</a></li>
                                <li><a href="#!">Store</a></li>
                            </ul>
                        </nav>
                    </div>
                </article>

            </header>
        </section>

        <section class="page-section" id="typography">

            <h2>Typography Defaults</h2>

            <article class="component">
                <h3 class="component__name">body</h3>
                <div class="component__img">
                    <img srcset="img/case-studies__paragraph.png 2x" src="img/case-studies__paragraph.png"
                        alt="body copy" />
                </div>
                <div class="component__code">
                    <p>Not camp like you remember. More like "the camp counselors have gone missing and you found
                        the
                        keys to
                        the liquor cabinet." These tend to be private, invitation-only events, but we like to share
                        photos
                        nonetheless.</p>
                </div>
            </article>
            <article class="component">
                <h3 class="component__name">headings (h1, h2, ...)</h3>
                <div class="component__img">
                    <img srcset="img/case-studies__header.png 2x" src="img/case-studies__header.png" alt="h1" />
                    <img srcset="img/case-studies__sub-header.png 2x" src="img/case-studies__sub-header.png" alt="h2" />
                </div>
                </div>
                <div class="component__code">
                    <h2>Our Camps</h2>
                    <h3>Where social distancing is a way of life</h3>
                </div>
            </article>
        </section>

        <section class="page-footer" id="footer">
            <h2>Page Footer</h2>
            <img src="img/footer.png" alt="Footer Nav" />
            <footer class="site-footer">

                <article class="component">
                    <h3 class="component__name">Footer Navigation List</h3>
                    <div class="component__code">
                        <nav class="footer-nav">

                            <ul class="menu">
                                <li><a href="#!">Blog</a></li>
                                <li><a href="#!">Films</a></li>
                                <li><a href="#!">Press</a></li>
                                <li><a href="#!">Our Story</a></li>
                                <li><a href="#!">Photo Journal</a></li>
                                <li><a href="#!">Guestbook</a></li>
                                <li><a href="#!">FAQs</a></li>
                                <li><a href="#!">Store</a></li>
                                <li><a href="#!">Camp Customs</a></li>
                            </ul>
                        </nav>
                    </div>
                    <article class="component">
                        <h3 class="component__name">copyright</h3>
                        <div class="component__footer">
                            <p>Copyright &#169; 2021 Camp Wandawega</p>
                        </div>
                    </article>
            </footer>
        </section>
    </main>

</body>

</html>